:root {
    --color-white: hsl(252, 30%, 100%);
    --color-primary: rgb(29, 50, 157);
    --color-red: rgb(247, 54, 99);
    --color-blue: rgb(2, 150, 243);
    --color-primary-2: #ffc8c9;
    --color-primary-3: #c8f9ff;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    scroll-behavior: smooth;
}
body{
    display: flex;
    font-family: "Poppins", sans-serif;
    width: 100vw;
    height: auto;
    background-image: url(./assets/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.box_1{
    margin: auto;
    top: 2rem;
    bottom: 2rem;
    width: 20rem;
    height: 37rem;
    border:0.3rem solid rgb(255, 255, 255);
    border-radius: 2rem;;
    position: relative;
    display: block;
}